@charset "UTF-8";

@media(max-width:670px) {

  h1.chotstock{
    text-align: center;
    font: normal normal bold 30px/23px Helvetica;
  }
  #stockNo{
  	font: normal normal normal 20px/23px Gill Sans;
  	letter-spacing: 2px;
  }

  header{
    text-align: center;
    margin: 0 auto;
  }

  .nav-list {
    display: none;
  }

  h3.midashi2{
  	margin-top: 50px;
  	font: normal normal bold 13px/0px Helvetica;
  }

  h1.midashi3{
  	font-family: source-han-sans-japanese, sans-serif;
  	font-weight: 600;
  	font-style: normal;
  	font-size: 20px;
  	line-height: 25px;
  }

  p.break-all_1{
    width: 100%;
    font: normal normal normal 11px/20px YuGothic;
    margin-top: 0;
  	margin-bottom: 30px;
  }

  .img img{
    width: 100%;
  }

  .img p{
  	width: 100%;
  	font-size: 9px;
  }

  p.break-all{
  	width: 100%;
  	word-break: break-all;
  	font: normal normal normal 13px/25px YuGothic;
  	margin-top: 30px;
  	margin-bottom: 30px;
  }

  #stockNo2{
  	margin-top: 10px;
  	font: normal normal normal 20px/5px Gill Sans;
  	letter-spacing: 2px;
  	color:#4A4A4A;
  }

  .point-list{
    display: none;
  }

  .point-list-sp{
    display: block;
    list-style: none;
    font: normal normal bold 10px/17px YuGothic;
  	letter-spacing: 1px;
    margin-left: -40px;
    margin-bottom: 30px;
  }

  h2#chotstock_footer{
  	font: normal normal bold 15px/0px Helvetica;
  	margin-top: 30px;
  }

  p#copyright{
    display: none;
  }

  p#copyright-sp{
    display: block;
    font: normal normal bold 6px/12px Helvetica;
    margin-top: 10px;
    margin-bottom: 20px;
  }
