@charset "UTF-8";

body{
	width: 80%;
	margin-left: 10%;
}

a.black:link, a.black:visited, a.black:hover, a.black:active{
  color: black;
}

a.white:link {
color : #ffffff;
text-decoration: none;
}
a.white:visited {
color : #ffffff;
}
a.white:active {
color : #ffffff;
}
a.white:hover {
color : #ffffff;
}


.header{
	margin-top: 60px;
}

.nav-list {
  float: right;
  text-align: left;
  padding: 10px 0;
  margin-left: 0px;
  margin-top: -65px;
}
.item {
  list-style: none;
  display: inline-block;
  margin:  8px;
  font: normal normal bold 17px/23px Helvetica;
}


h1.midashi1{
  margin-top: 60px;
  margin-left: 5.5%;
  font: normal normal bold 25px/23px YuGothic;
}

p#main_sentense{
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 5.5%;
  font: normal normal bold 15px/25px YuGothic;
}



.middleBox{
	list-style: none;
	text-align: center;
	margin-left: -3%;
	margin-bottom: 70px;
}


.box_sentense{
	font: normal normal bold 13px/18px YuGothic;
	margin-top: 30px;
	margin-bottom: -10px;
}
.box_midashi{
	font: normal normal bold 20px/18px YuGothic;
}

.Boxes{
	display: inline-block;
	position: relative;
	width: 14%;
	height: 650px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border-radius: 10px;
}

.dailyStock{
	display: block;
	list-style: none;
	margin-left: -50%;
	color: white;
}



.line1{
	position: absolute;
	text-align: center;
	top: 93%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}

.line1:hover{
	transform:scale(1.3,1.3);
}


.line2{
	position: absolute;
	text-align: center;
	top: 86%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line2:hover{
	transform:scale(1.3,1.3);
}

.line3{
	position: absolute;
	text-align: center;
	top: 79%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line3:hover{
	transform:scale(1.3,1.3);
}

.line4{
	position: absolute;
	text-align: center;
	top: 72%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line4:hover{
	transform:scale(1.3,1.3);
}

.line5{
	position: absolute;
	text-align: center;
	top: 65%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line5:hover{
	transform:scale(1.3,1.3);
}

.line6{
	position: absolute;
	text-align: center;
	top: 58%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line6:hover{
	transform:scale(1.3,1.3);
}

.line7{
	position: absolute;
	text-align: center;
	top: 51%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line7:hover{
	transform:scale(1.3,1.3);
}

.line8{
	position: absolute;
	text-align: center;
	top: 44%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line8:hover{
	transform:scale(1.3,1.3);
}

.line9{
	position: absolute;
	text-align: center;
	top: 37%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line9:hover{
	transform:scale(1.3,1.3);
}

.line10{
	position: absolute;
	text-align: center;
	top: 30%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line10:hover{
	transform:scale(1.3,1.3);
}

.line11{
	position: absolute;
	text-align: center;
	top: 23%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line11:hover{
	transform:scale(1.3,1.3);
}

.line12{
	position: absolute;
	text-align: center;
	top: 16%;
	left: 5%;
	width: 90%;
	height: 6%;
	font: normal normal bold 5px/15px YuGothic;
	border-radius: 5px;
}
.line12:hover{
	transform:scale(1.3,1.3);
}






.footer{
	text-align: center;
}

h2#chotstock_footer{
	font: normal normal bold 17px/0px Helvetica;
	margin-top: 30px;
}


.nav-list2 {
  padding: 0 0;
  margin-left: 0px;
  margin-bottom: 0px;
}
.item2 {
  list-style: none;
  display: inline-block;
  margin:  0px 8.7px;
  font: normal normal bold 10px/5px Helvetica;
}

p#copyright{
  font: normal normal bold 8px/0px Helvetica;
  margin-top: 15px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}