@charset "UTF-8";
/* CSS Document */

body {
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	text-align: center;
}

header {
	width: 80%;
	margin-left: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: burlywood;
	text-align: center;
}

.headLine{
	text-align: center;
}

.navList{
	list-style: none;
	margin-right: 50px;
	margin: 20px;
}

.item{
	margin-right: 50px;
	display: inline-block;
	text-align: center;
}

.main{
}

.img{
	margin-top: 50px;
	margin-bottom: 50px;	
}

.img img{
	width : 30%;
}

.point{
	width: 100%;
	display: inline-block;
	clear: both;
}

.content{
	width: 50%;
	text-align: center;
	float: left;
}

.comment p1{
	margin-left: 100px;
}


footer{
	width: 80%;
	margin-left: 10%;
	background-color: burlywood;
}

.copy{
	margin-top: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 12px;
}
